language: scala
scala:
  - 2.11.11
  - 2.12.3

jdk:
  - oraclejdk8
  - oraclejdk9

matrix:
  exclude:
    - scala: 2.11.11
      jdk: oraclejdk9

script:
  - sbt ++$TRAVIS_SCALA_VERSION test:compile
  - sbt ++$TRAVIS_SCALA_VERSION test